<html>
<head>

</head>
<body>
<h1>My Movie List</h1>
<div id="inputSection">
<form method="POST" action="/movies/create">
<input type="text" placeholder="Title" name="title"></input>
<input type="text" placeholder="Description" name="description"></input>
<input type="text" placeholder="Genre" name="genre"></input>
<button>Add</button>
</form>

</div>
<div id="movieList">
<ul>
{{#movies}}
<li>
<form method="POST" action="/movies/delete">
<input type="hidden" value={{id}} name="id"></input>
<label>{{title}} -{{genre}} -{{description}}</label>
<button>&times</button>
</form>
<form method="GET" action="/movies/{{id}}">
<button>Detail</button>
</form>
</li>
{{/movies}}

</ul>
</div>

</body>


</html>