<html>
<head>
</head>

<body>
<form method ="POST" action="/login">
<input type="text" placeholder="Username" name="username"></input>
<input type="password" placeholder="password" name="password"></input>
<button>Login</button>
</form>
<a href="/register"><button>Register</button></a>

<h3>{{message}}</h3>
</body>


</html>