<html>
<head></head>

<body>
<h3>Register Page</h3>
<form method ="POST" action="/register">
<input type="text" placeholder="User Name" name="username"></input>
<input type='password' placeholder='password' name='password'></input>
<button>Submit</button>
</form>
</body>



</html>